 <div class="login-box" ng-controller="loginWindowController" ng-click="textfieldClick()">
     <div class="loginRegister">
         <h5 class="loginRegister-active"><b>Kirjaudu</b></h5>
         <h5 ng-click="toggleLoginRegister()">Rekisteröidy</h5>
     </div>
     <label for="usernameinput">
          <input type="text" ng-model="username" id="usernameinput" name="username" placeholder="Käyttäjänimi" />
     </label>
     <label for="passwordinput">
          <input type="password" ng-model="password" ng-keyup="$event.keyCode == 13 && login(username, password)" id="passwordinput" name="password" placeholder="Salasana" />
      </label>
     <div class="button button-container">
         <button class="blue-button" ng-click="login(username,password)">Kirjaudu</button>
         <button class="blue-button" ng-click="toggleShow()">Peruuta</button>
         <button class="blue-button"><a class="reset-link" href="https://somekratia.vihtori.me/reset_password">Vaihda salasana</a></button>
     </div>
 </div>