@font-face {
    font-family: Neou;
    src: url('fonts/Neou-Thin.otf');
}
@font-face {
    font-family: Neou Bold;
    font-weight: bold;
    src: url('fonts/Neou-Bold.otf');
}

@font-face {
    font-family: Tw Cen MT;
    src: url('fonts/Tw-Cen-MT.ttf');
}

@font-face {
    font-family: Tw Cen MT Bold;
    src: url('fonts/Tw-Cen-MT-Bold.ttf');
}

p {
    font-size: 18px;
}

h4 {
    font-size: 22px;
}

h2 {
    font-size: 27px;
}

h1 {
    font-size: 40px;
}

#map-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1001;
}

/* MAIN NAVIGATION */

#mainnav {
    padding: 0 2vw;
    text-align: left;
    display: inline;
    list-style: none;
}

#mainnav li {
    display: inline-block;
    position: relative;
    padding: 0 2.5vw;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#mainnav li a {
    font-size: 2vw;
    font-family: Neou Bold;
    color: #939291;
    text-decoration: none;
}

#mainnav li a:hover {
    color: #555;
}

#mainnav li ul {
    padding: 0;
    position: absolute;
    left: 11px;
    width: 240px;
    display: none;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

#mainnav li ul li {
    display: block;
    padding: 2px 20px 6px 20px;

}

#mainnav li ul li a {
    color: #939291;
    font-family: "Tw Cen MT";
    font-size: 16px;
    text-decoration: none;

}


#mainnav li ul li a:hover {
    color: #555;
}


#mainnav li:hover ul {
    display: block;
}


#mainnav li .orange:focus, #mainnav li ul li .selectedCategory {
    color: #d8752f;
}

.hide {
    display: none;
}

.navbar {
    background-color: white;
    padding: 1vw 0;
    width: 100vw;
    margin-top: 1.5vw;
    position: absolute;
    left: 0;
    z-index: 1000;
    text-align: center;
}

.nav-item {
    display: inline;
}

.nav-field {
    display:inline;
}

#search {
    width: 12vw;
}

.search-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: url(img/magnifying_glass.png) no-repeat transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
}

.nav-contents {

}

.login-button {
    margin-left: 6vw;
}

.logout-button-button {
    margin-left: 3vw;
}

.login-button, .logout-button-button, .send-button, .blue-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: #6fc1dd;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 11px;
    outline: none;
}

.disabled-send-button {
    background-color: #c9c9c9;
}

.reply-input .send-button.disabled-send-button {
    background-color: #9fd5e8;
}

.reply-input .send-button.disabled-send-button:hover {
    background-color: #9fd5e8;
    cursor: default;
}

.send-button.disabled-send-button:hover{
    background-color: #c9c9c9;
    cursor: default;
}

.login-button:hover, .logout-button-button:hover, .send-button:hover, .blue-button:hover {
    background-color: #4B9CB8;
}

.reply-input .send-button {
    background-color: #4B9CB8;
}

.reply-input .send-button:hover {
    background-color: #3288A6;
    cursor: pointer;
}

.button-container {
    margin-top: 1vw;
}

form {
    display: inline;
}

.logo {
    vertical-align: middle;
    margin-right: 7vw;
    cursor: pointer;
}


.navbar .login-button {
    padding: 6px 11px;
}


.angular-google-map-container {
    height: 100vh;
}

/* ISSUENÄKYMÄ */

.issueContainer {
    background-color: white;
    width: 90vw;
    height: 67vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20vh;
    position: absolute;
    top: 0vw;
    left: 0;
    padding-top: 7vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    overflow: scroll;
    z-index: 1;
}

.issueDetails {
    display: inline-block;
    width: 82vw;
    margin: 3vw 0 0 4vw;
}

.issueDetails h2 {
    font-family: Tw Cen MT;
    text-decoration: underline;
    color: #555555;
}

.issueDetails h4, .issueDetails p {
    font-family: Tw Cen MT;
    color: #939291;
}

.issueDetails .date {
    margin-top: 0;
}

.close {
    position: absolute;
    right: 2vw;
    top: 2vw;
    cursor: pointer;
}

.placeholder-timeline {
    width: 82vw;
    background-color: #939291;
    height: 3px;
    margin-left: 4vw;

}

.timeline-decision {
    width: 3vw;
    height: 3vw;
    background: #d8752f;
    -moz-border-radius: 1.5vw;
    -webkit-border-radius: 1.5vw;
    border-radius: 1.5vw;
    display: inline;
    position: absolute;
    top: 5.5vw;
    transform: translateX(-50%);
    cursor: pointer;
}

.timeline-background {
    width: 90vw;
}

.timeline-message {
    display: inline;
    position: absolute;
    top: 6vw;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
}

.timeline-message-picture {
    margin: 0 auto;
    position: absolute;
}

.timeline-m-picture-container {
    width: 2vw;
    height: 2vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.issueLogin {
    cursor: pointer;
    color: #d8752f;
}
.issueLogin:hover {
    color: #555555;
}

.issueInfo {
    float: left;
    width: 38vw;
}


textarea {
    padding: 5px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    border-radius: 2px;
    width: 32vw;
    height: 15vh;
}

textarea:focus {
    outline: none;
    border: solid 5px #939291;
}

.reply-input textarea {
    border-color: #4B9CB8;
}

.reply-input textarea:focus {
    border-color: #3288A6;
}

.send-button {
    font-size: 16px;
    font-family: "Tw Cen MT";
    margin-top: 2vh;

}
.attachment-heading {
    margin-bottom: 1vw;
}

.decision-list {
    font-family: "Tw Cen MT";
    color: #939291;
    font-size: 20px;
    margin-bottom: 1em;
    /*list-style: none;*/
}
.decision {
    cursor: pointer;
}
.decision:hover {
    color: #555555;
}

.decision-list p, .decision-list table, .decision-list ul, .decision-list ol, .decision-list dl {
    font-size: 16px;
}

.decision-list h3 {
    font-size: 18px;
}
.decision-details {
    margin-bottom: 1.5em;
    padding-right: 1vw;
}

.liitteet {
    font-size: 19px;
    padding: 0.5em 0;
}

.attachment-list {
    font-size: 16px;
    padding-left: 0;
}
.attachment-list li {
    margin-left: 2em;
}
.attachment-list a {
    color: #939291;
    text-decoration: none;
}
.attachment-list a:hover {
    color: #d8752f;
}
.decision-arrow{
    cursor: pointer;
    margin-bottom: -1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: url(img/arrow_down.png) no-repeat transparent;
    outline: none;
}

.decision-arrow:hover {
    background: url(img/arrow_down_dark.png) no-repeat transparent;

}

.inactive > .decision-arrow {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);

}

/* KÄYTTÄJIEN VIESTIT */

.message-container {
    width: 42vw;
    position: relative;
}

.messages {
    float: right;
    width: 42vw;
    margin-top: 2vw;
}


.messageBubble, .replyBubble {
    padding: 2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
}

.messageBubble h3, .messageBubble p, .replyBubble h3, .replyBubble p {
    font-family: Tw Cen MT;
    color: #ffffff;
}

.messageBubble h3, .replyBubble h3 {
    margin-top: 0.5vh;
}

.messageBubble {
    background-color: #6fc1dd;
    clear: right;
    display: inline-block;
    width: 34vw;
    margin-left: 4vw;
}

.messageText {
    margin-top: 4vw;
}

.replyBubble {
    background-color: #9fd5e8;
    width: 70%;
    float: right;
}

.poster {
    float: left;
    width: 62%;
}

.poster-picture {
    position: absolute;

}

.poster-picture-container {
    position: relative;
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    -moz-border-radius: 1.5vw;
    -webkit-border-radius: 1.5vw;
    border-radius: 1.5vw;
    margin-top: 10px;
}

.poster-picture-wrapper {
    width: 3vw;
    height: 3vw;
    position: absolute;
    left: 0vw;
    margin-top: -35px;
}

.replyBubble .poster-picture-wrapper {
    left: 4.5vw;
}

.time-posted {
    float: right;
    width: 33%;
}

.messageBubble textarea {
    width: 96%;
}

/* LOGIN-IKKUNA */

.login .login-box {
    padding: 10px;
    background: white;
    z-index: 10000;
    position: absolute;
    top: 20vw;
    left: 38vw;
    padding: 2vw;
    border-radius: 1vw;
    width: 24vw;
}

.login {
    background:rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loginRegister {
    padding-bottom: 15px;
}

.loginRegister h5.loginRegister-active {
    color: #d8752f;
}

.login h5 {
    display: inline;
    font-family: "Tw Cen MT";
    color: #939291;
    cursor: pointer;
}

.loginRegister h5:hover {
    color: #555555;
}

.registerfieldcontainer {
    width: 24vw;
}

.registerfieldcontainer input {
    width: 14vw;
    height: 13px;
    margin-bottom: 5px;
}

input[type="file"] {
    margin-top: 5px;
    height: 17px;
}


.registerfieldcontainer h5 {
    float: left;
    display: inline-block;
    cursor: auto;
    margin: 0;
    padding: 7px 0 13px 0;
    width: 100%;
}

.registerfieldcontainer .first {
    margin-top: 0;
}

.register-headings {
    width: 104px;
    float: left;
}

.register .button {
    margin-top: 1vw;
}

.login-box.register {
    top: 30vh;
}

/*SEARCH RESULTS -IKKUNA*/
.searchResults {
    background: white;
    width: 65vw;
    margin: 11vw 5vw 0 5vw;
    top: 4vh;
    left: 0vw;
    position: absolute;
    border-radius: 1vw;
    font-family: Tw Cen MT;
    overflow: scroll;
    padding: 1vw;
    height: 62vh;
}

.searchResults ul {
    padding: 0 2vw 1vw 2vw;
}

.searchResults li {
    color: #939291;
    list-style-type: none;
    cursor: pointer;

}

.searchResults li:hover {
    color: #555555;
}

.resultlist {
    padding: 5px 0px;
}

#searchHead {
    padding-left: 2vw;
    padding-top: 2vw;
    color: #555555;
    font-size: 22px;
}

.infowindow {
    /*background-color: #555555;*/
}

.user-avatar {
    height: 2.5vw;
    position: absolute;
    margin-left: -50%;
}

.user-avatar-container {
    position: relative;
    height: 2.5vw;
    width: 2.5vw;
    overflow: hidden;
    margin: 0 auto;
}

.nav-profile {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
}

.username {
    font-size: 12px;
    font-family: "Tw Cen MT";
    color: #555555;
}

.user-container {
    width: 5vw;
    cursor: pointer;
}

.profileContainer {
    background-color: white;
    width: 90vw;
    height: 75vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 11vw;
    position: absolute;
    top: 0vw;
    left: 0;
    border-radius: 1vw;
    overflow: scroll;
    z-index: 1;
}

.profileContainer h1, .profileContainer h2, .profileContainer li {
    font-family: Tw Cen MT;
    color: #939291;
}

.user-subscriptions {

}

.profileContainer h2 {
    margin-top: 2.8vw;
}

.profileContainer li {
    list-style-type: none;
    margin: 0 0 10px -38px;
    cursor: pointer;

}

.profileContainer li:hover {
    color: #555555;
}

.profileContainer .usernameTitle {
    color: #6fc1dd;
}


.profileLeft {
    float: left;
    width: 20vw;
}

.profileLeft p {
    font-family: "Tw Cen MT";
    font-size: 14px;
    color: #939291;
}

.profileLeft .blue-button {
    margin-top: 20px;
}


.profileRight {
    float: right;
    width: 60vw;
}

.userDetails {
    display: inline-block;
    width: 80vw;
    margin: 2vw 6vw 2vw 6vw;
    float: right;
}

#recentMessages {
    background: #FFF;
    padding: 1.5vw;
    width: 17vw;
    position: absolute;
    top: 25vh;
    right: 5vw;
    border-radius: 1vw;
    z-index: 0;
}

#recentMessages h3 {
    font-family: "Tw Cen MT";
    color: #6fc1dd;
    font-size: 25px;
    margin: 1vw;
}

.recent-message {
    padding: 1vh 1vw;
}

.recent-message-txt {
    font-family: "Tw Cen MT";
    color: #939291;
    cursor: pointer;
}

.recent-message-txt:hover {
    color: #555555;
}

.recentMessageContainer {
    height: 35vh;
    overflow: scroll;
    margin-bottom: 5vh;
}

select {
    width: 280px;
}

.subscribe h5 {
    font-family: Tw Cen Mt;
    display: inline-block;
    vertical-align: super;
    font-size: 18px;
    margin: 2vw 0 1vw 0;
    color: #939291;
    cursor: pointer;
}

.subscribe h5:hover {
    color: #555555;
}

.subscribe {
    margin-top: -2vw;
}

.subscribe .grey {
    color: #939291;
}

.subscribe .blue {
    color: #6fc1dd;
}

.thumbsup {
    cursor: pointer;
}

.reply {
    font-family: Tw Cen Mt;
    color: #fff;
    display: inline;
    float: right;
    margin-bottom: 2vw;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    border: solid 3px #c9c9c9;
    transition: border 0.3s;
    border-radius: 2px;
}
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border: solid 3px #939291;
}

.middle {
    text-align: center;
    margin-top: 15px;
}

.likes-amount, .likes-txt {
    font-family: "Tw Cen MT";
    color: #FFFFFF;
    font-size: 16px;
}

.reset-link {
    color: #FFF;
    text-decoration: none;
}
