html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 300px;
    position: relative;
    height: auto;
}

@font-face {
    font-family: Hack-Regular;
    src: url(../../font/Hack-Regular.ttf);
}

@font-face {
    font-family: Hack-Bold;
    src: url(../../font/Hack-Bold.ttf);
}

@font-face {
    font-family: Iceland-Regular;
    src: url(../../font/Iceland-Regular.ttf);
}

h1 {
    font-size: 50px;
    margin-top: 40px;
    color: #FFF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
}

h3 {
    font-size: 32px;
}

h2,
h3,
h4 {
    color: #FFF;
}

p {
    color: #BBB;
}

a:hover {
    text-decoration: none;
}

main {
    height: 100%;
    overflow: hidden;
}

b {
    font-weight: bold;
}

.hide {
    display: none;
}

.cyan-txt {
    color: #5bc8d7;
}

.nav-logo-black {
    z-index: 100000;
}

.navbar-collapse {
    text-align: right;
}

.nav.navbar-nav {
    display: inline-block;
    float: none;
}

.navbar.navtop {
    background: transparent;
    transition: 0.5s;
}

.navbar.navtop li a:hover,
.navbar.navtop li a:focus {
    color: #FFF;
}

.navbar {
    border: none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: white;
    transition: 0.5s;
}

.navbar li a:hover,
.navbar li a:focus {
    background-color: transparent;
    color: black;
}

.navbar li {
    font-size: 20px;
    margin: 0 5px;
}

.navbar li a {
    text-decoration: none;
    color: grey;
    transition: 0.5s;
}

.navbar li.active a {
    color: black;
}

.navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-brand {
    padding-right: 0;
}

.footer {
    height: 300px;
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: -300px;
    text-align: center;
}

.footer p {
    color: #777;
}

.footer-contact {
    margin-top: 30px;
}

.footer-logo-txt {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-links {
    margin: 0 auto;
    padding-top: 30px;
}

.footer-links i {
    padding: 0 10px;
    color: grey;
    transition: 0.5s;
}

.footer-links i:hover {
    color: black;
    cursor: pointer;
}

#skrollr-body {
    /*text-align: center;*/
}

.frontpage {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: black;
}

.frontpage-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 100;
}

.frontpage-txt {
    font-family: Hack-Regular;
    letter-spacing: 5px;
    color: #888;
    font-size: 1.5em;
    margin-bottom: 5vh;
}

.margin0 {
    margin: 0;
}

.main-logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin: 0 auto 3vh auto;
}

.main-logo-txt {
    width: 600px;
    display: block;
    margin: 0 auto;
    display: none;
}

.logo-txt-container {
    position: absolute;
    text-align: left;
    opacity: 1;
    margin: 30px 0 0 10px;
    z-index: 1000;
}

.logo-txt {
    width: 100%;
    vertical-align: middle;
    display: none;
}

.main-header {
    font-family: Iceland-Regular;
}

.frontpage-btn {
    border: 2px solid #dc5a26;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    margin-top: 7vh;
}

.frontpage-btn a,
.button a,
.button p {
    color: #5bc8d7;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.signup-txt {
    color: white;
    margin-bottom: 40px;
}

.section {
    padding: 15% 0 0 0;
}

.lowest-section {
    padding-bottom: 15%;
}

.section-identifier {
    float: left;
    position: absolute;
    margin-left: 5%;
    font-family: Hack-Bold;
}

.section-number {
    color: #333333;
    font-size: 200px;
    font-weight: bold;
    font-family: Arial;
}

.section-heading {
    display: block;
    padding: 10px 0;
    letter-spacing: 50;
    font-weight: bold;
    text-align: right;
}

.heading-line {
    border-bottom: 2px solid #777;
    width: 50px;
    float: right;
    margin-top: 30px;
}

.section-txt {
    margin: 0 auto;
}

.section-header {
    color: #5bc8d7;
    opacity: 0.28;
    font-size: 50px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 23%;
    left: 16%;
}

.section-left {
    padding-right: 5%;
}

.white-thick-border {
    border: 6px solid white;
    overflow: hidden;
    padding: 30px;
}

#bg-video {
    top: 0;
    left: 0;
}

.video-div {
    width: 100vw;
    overflow: hidden;
}

.fullscreen-bg-video {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: initial;
    height: auto;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;
    margin-left: -5px;
}

@media (max-width: 768px) {
    .fullscreen-bg-video {
        display: none;
    }
    #bg-video {
        display: none;
    }
    #video-wrap {
        background-color: black;
    }
    .main-logo {
        width: 80vw;
    }
    .navbar-brand {
        display: none !important;
    }
    .navbar {
        position: fixed;
        right: 0;
        z-index: 1000000;
        border-radius: 10px;
        background-color: black;
    }
    .nav.navbar-nav {
        text-align: right;
    }
    .navbar li a:hover:before,
    .navbar li a:focus:before {
        border-bottom: 0;
    }
    .navbar li a:hover,
    .navbar li a:focus {
        background-color: transparent;
        color: white;
    }
    .navbar li.active a {
        color: white;
    }
    .box-1-width,
    .box-2-width,
    .box-3-width,
    .box-4-width {
        width: 100%;
    }
    .box-1-height,
    .box-2-height,
    .box-3-height,
    .box-4-height {
        height: 35vh;
    }
    .track-row-padding {
        padding-top: 0 !important;
    }
    .track-box {
        margin: 0 !important;
    }
    .faq-sect {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .videoWrapper {
        padding-bottom: 56.25%;
        margin-top: 30px;
    }
    .videoWrapper iframe {
        height: 100%;
    }
    .stat-container1 {
        margin-top: 30px;
    }
}

.dark-overlay {
    opacity: 0.5;
    background-color: black;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

.topmargin50 {
    margin-top: 50px;
}

.button {
    border: 2px solid #5bc8d7;
    padding: 10px 35px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s background-color;
    margin-top: 30px;
}

.button:hover {
    background-color: #5bc8d7;
}

.padding0 {
    padding: 0;
}

.about-img {
    width: 100vw;
    height: 36.03vw;
    background-image: url('../../img/about_img.jpg');
    background-size: contain;
    /*position: relative;*/
}

@media only screen and (max-width: 780px) {
    .about-img {
        height: 82vw;
        width: 130vw;
        margin-left: -30%;
        overflow: hidden;
        background-size: cover;
    }
    .footer-links {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 480px) {
    .subscribe-btn {
        margin: 10% 0 0 0 !important;
    }
    .logo-txt {
        display: none;
    }
}

.subscription-container {
    margin-top: 40px;
}

input[type="email"] {
    background: none;
    border: 1px solid #5bc8d7;
    padding: 10px;
    width: 250px;
    color: white;
}

input:focus {
    outline: none;
}

.subscribe-btn {
    border: 1px solid #dc5a26;
    display: inline-block;
    padding: 11px;
    color: #FFF;
    margin-left: 15px;
    background-color: transparent;
}

.subscribe-btn:hover {
    transition: background-color 0.5s;
    background-color: #dc5a26;
    cursor: pointer;
}


/* TRACKS */

.tracks-heading {
    margin-top: 20%;
}

.grey-bg {
    background-color: grey;
}

.track-box {
    display: inline-block;
    margin: 0 3px;
}

.track-row-padding {
    padding-top: 4px;
}


/* LAST YEAR */

.white-box {
    width: 65px;
    height: 65px;
    display: inline-block;
    background-color: #FFF;
}

.stat-container {
    margin-top: 10px;
}

.stat-texts {
    display: inline-block;
    position: absolute;
    margin: -10px 0 0 10px;
}

.videoWrapper {
    position: relative;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/* FAQ */

.faq-a {}

.faq-box {
    border: 2px solid #5bc8d7;
    padding: 20px;
    position: relative;
    margin-top: 15px;
}

.faq-box p {
    margin: 0;
}

.faq-q {
    padding-bottom: 20px;
}

.faq-arrow {
    color: white;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    z-index: 10000;
}

.faq-arrow:hover {
    cursor: pointer;
    color: #5bc8d7;
}


/* QUOTE */

.quote-line {
    border-bottom: 2px solid #777;
    width: 300px;
}

.quote-source {
    padding-top: 30px;
}
