body {
    background-color: black;
    font-family: Hack-Regular;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: Hack-Regular;
    src: url(../../font/Hack-Regular.ttf);
}

@font-face {
    font-family: Hack-Bold;
    src: url(../../font/Hack-Bold.ttf);
}

@font-face {
    font-family: Iceland-Regular;
    src: url(../../font/Iceland-Regular.ttf);
}

h1 {
    font-size: 50px;
    margin-top: 40px;
    color: #FFF;
}

h2 {
    font-family: Hack-Bold;
}

h2,
p {
    color: #FFF;
}

a:hover {
    text-decoration: none;
}

#skrollr-body {
    text-align: center;
}

.frontpage {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.frontpage-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.main-logo {
    width: 25%;
    display: block;
    margin: 0 auto;
}

.main-header {
    font-family: Iceland-Regular;
}

.frontpage-btn {
    border: 2px solid #dc5a26;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    margin-top: 9vh;
}

.double-down-arrow {
    display: block;
    color: #dc5a26;
}

.frontpage-btn a,
.button a {
    color: #FFF;
    font-size: 16px;
}

.section {
    min-height: 80vh;
    padding-top: 10%;
}

.section-identifier {
    float: left;
    position: absolute;
    margin-left: 5%;
    font-family: Hack-Bold;
}

.section-number {
    color: #333333;
    font-size: 200px;
    font-weight: bold;
    font-family: Arial;
}

.section-heading {
    margin-bottom: 10vh;
    background-color: #fff;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    line-height: 19px;
    letter-spacing: 50;
}

.section-txt {
    margin: 0 auto;
}

.section-header {
    color: #5bc8d7;
    opacity: 0.28;
    font-size: 50px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 23%;
    left: 16%;
}

.video-div {
    width: 100vw;
    overflow: hidden;
}

.fullscreen-bg-video {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: initial;
    height: auto;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;
    margin-left: -5px;
}

@media (max-width: 767px) {
    .fullscreen-bg-video {
        display: none;
    }
}

.dark-overlay {
    opacity: 0.7;
    background-image: url(../../img/noise.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.topmargin50 {
    margin-top: 50px;
}

.button {
    border: 2px solid #5bc8d7;
    padding: 10px 40px;
    display: inline-block;
}


